{% macro showEntityChangeAnalysis(base64_data) -%}
    <img class="entity_change_analysis" src="data:image/png;base64,{{ base64_data }}" />
{%- endmacro %}

{% macro showPairwiseSimilarityAnalysis(base64_data) -%}
<div class="container similarity_panel">
    <h4>Similarity over time</h4>
    <img class="pairwise_simliarity_analysis" src="data:image/png;base64,{{ base64_data }}" />
</div>
{%- endmacro %}

{% macro showInternalConfidenceAnalysis(base64_data) -%}
    <img class="internal_confidence_analysis" src="data:image/png;base64,{{ base64_data }}" />
{%- endmacro %}

{% macro navbar() -%}
    <nav class="navbar navbar-dark bg-dark">
    <div id="navbar-logo" class="navbar-element">
        <img src="/static/images/text-essence-logo-white.svg" />
    </div>
    <div id="navbar-header" class="navbar-element navbar-brand">
        COVID Diachronic Concept Embeddings
        <a href="/">
            <img src="/static/images/home.svg" />
            <span class="sr-only">Home</span>
        </a>
    </div>
    <div id="search_panel" class=="container">
        <form class="navbar-form" role="search" action="{{ url_for('search') }}" method="POST">
            <div class="input-group">
                <input type="search" name="query" id="query" placeholder="Search" class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <img src="/static/images/magnifying-glass.png" />
                        <span class="glyphicon glyphicon-search">
                            <span class="sr-only">Search</span>
                        </span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    </nav>
{%- endmacro %}

{% macro tablesPanel(tables, num_per_row) -%}
    <div class="tables_panel container">
        {% for table in tables %}
        {% if table.IsGridRowStart %}
        <div class="row">
        {% endif %}
            <div class="
            {% if num_per_row == 3 %}
            col-sm-4
            {% elif num_per_row == 2 %}
            col-sm-6
            {% else %}
            col-sm-4
            {% endif %}
            nn_table">
                <h4>{{ table.Corpus }}</h4>
                <h5>Confidence: {{ table.Confidence }}</h5>
                <table class="table
                {% if table.Class == 'low_confidence' %}
                    table-warning
                    table-hover
                {% elif table.Class == 'high_confidence' %}
                    table-striped
                    table-hover
                {% else %}
                {% endif %}
                ">
                    <thead class="
                    {% if table.Class == 'high_confidence' %}
                        thead-dark
                    {% endif %}">
                        <tr>
                            <th>Neighbor</th>
                            <th>Distance</th>
                            <th>Compare</th>
                        </tr>
                    </thead>
                    {% if table.Class == 'no_data' %}
                    <tbody>
                        <tr><td class="no_data_cell" colspan="2" rowspan="{{ table.NumRows }}">No data</td></tr>
                    </tbody>
                    {% else %}
                    <tbody>
                        {% for row in table.Rows %}
                        <tr>
                            <td>
                                <span class="table_row_label">
                                <a href="/info/{{ row.NeighborKey }}">
                                    {{ row.NeighborKey }} <i>{{ row.NeighborString }}</i>
                                </a>
                                </span>
                            </td>
                            <td>{{ row.Distance }}</td>
                            <td class="pairwise_link">
                                <a href="/pairwise/{{ row.QueryKey }}/{{ row.NeighborKey }}">
                                    <img src="/static/images/pairwise-icon.svg" />
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        {% if table.IsGridRowEnd %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}
