<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neighbors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='neighbors.css') }}">
</head>
<body id="showchanges">
    <div id="tables_panel">
        {% for table in tables %}
        <div class="nn_table">
            <h4>{{ table.Corpus }}</h4>
            <table>
                <tr>
                    <th>Neighbor</th>
                    <th>Distance</th>
                </tr>
                {% for row in table.Rows %}
                <tr>
                    <td>
                        <a href="/terms/{{ row.NeighborKey }}">
                            {{ row.NeighborKey }} <i>{{ row.NeighborString }}</i>
                        </a>
                    </td>
                    <td>{{ row.Distance }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</body>
</html>
