{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ query }}|{{ target }} Similarity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pairwise.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="info">
    {{ macros.searchPanel() }}
    <div id="info_panel" class="container">
        <h1>Pairwise similarity</h1>
        <h2><a href="{{ url_for('info', query_key=query) }}">{{ query }} {{ query_preferred_term }}</a></h2>
        <h2><a href="{{ url_for('info', query_key=target) }}">{{ target }} {{ target_preferred_term }}</a></h2>
    </div>
    <div id="change_panel" class="container">
        {{ macros.showPairwiseSimilarityAnalysis(pairwise_similarity_analysis_base64) }}
    </div>
</body>
