{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ query }}|{{ target }} Similarity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pairwise.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body id="info">
    {{ macros.searchPanel() }}
    <div id="info_panel" class="container">
        <h1>Pairwise similarity</h1>
        <div class="term_block">
            <h2><a href="{{ url_for('info', query_key=query) }}">{{ query }} {{ query_preferred_term }}</a></h2>
            <ul>
                {% for term in query_terms %}
                <li>{{ term }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="term_block">
            <h2><a href="{{ url_for('info', query_key=target) }}">{{ target }} {{ target_preferred_term }}</a></h2>
            <ul>
                {% for term in target_terms %}
                <li>{{ term }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ macros.showPairwiseSimilarityAnalysis(pairwise_similarity_analysis_base64) }}
    <div id="tables_panel" class="container">
        <div class="paired_labels">
            <div class="row_label">{{ query }} {{ query_preferred_term }}</div>
            <div class="row_label">{{ target }} {{ target_preferred_term }}</div>
            <div class="clearer">&nbsp;</div>
        </div>
        {{ macros.tablesPanel(paired_tables, 2) }}
    </div>
</body>
