#addTableButtonContainer {
    position: relative;
    padding-top: 50%;
    height: 250px;
}
#sourceSelectionPanel {
    display: none;
    position: absolute;
    top: 85%;
    width: 50%;
    left: 25%;
    padding: 15px;
    border: 1px solid black;
}
#addTableButton {
    text-align: center;
    width: 100%;
}

#termListPanel {
    width: 30%;
    float: left;
}

#confidencePanel {
    width: 70%;
    float: left;
    text-align: center;
}

#change_panel {
    clear: both;
    display:none;
}
#tables_panel {
    clear: both;
}
