#info_panel .term_block {
    width: 50%;
    float: left;
}

.similarity_panel {
    clear: both;
}
.similarity_panel > h4 {
    text-align: center;
}

#tables_panel {
    clear: both;
    white-space: nowrap;
}

#tables_panel > .paired_labels {
    position: sticky;
    top: 0px;
    z-index: 100;
    margin-top: 20px;
    margin-bottom: 10px;
}
#tables_panel > .paired_labels > .clearer {
    clear:both;
}
#tables_panel > .tables_panel {
    overflow-y: auto;
    clear: both;
}

.table_row_label {
    max-width: 80px;
}

#tables_panel .table {
    white-space: normal;
}

#tables_panel .row_label {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6em;
    font-weight: bold;
    background-color: #eeeeee;
    border-bottom: 1px solid;
}
