#search_panel {
}

#search_panel .input-group {
    margin-left: 50px;
    margin-right: 50px;
}

#search_panel button,
#search_panel input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    color: rgb(119,119,119);
    box-shadow: none;
    outline: none;
}
#search_panel input {
    width:90%;
    max-width:90%;
}
#search_panel button[type=submit] img {
    width:20px;
}

.table td.no_data_cell {
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: #999;
}

.table td.pairwise_link {
    text-align: center;
}
.table td.pairwise_link > a > img {
    width:30px;
    height:30px;
}
