nav {
    margin-bottom: 30px;
}
nav > #navbar-logo > img {
    width: 100px;
}
nav > #navbar-header > a {
    margin-left: 20px;
}
nav > #navbar-header > a > img {
    width: 40px;
}

#search_panel {
    width: 33%;
}

#search_panel .input-group {
    background-color: #fff;
    vertical-align: middle;
}

#search_panel button,
#search_panel input {
    padding: 8px 12px;
    border-radius: 0px;
    border-width: 0px;
    color: rgb(119,119,119);
    box-shadow: none;
    outline: none;
}
#search_panel input {
    width:90%;
    max-width:90%;
}
#search_panel button[type=submit] img {
    width:20px;
}

.table td.no_data_cell {
    height: 200px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: #999;
}

.table td.pairwise_link {
    text-align: center;
}
.table td.pairwise_link > a > img {
    width:30px;
    height:30px;
}
